<?xml version='1.0' encoding='utf-8'?>

<appSettings>

  <add key="DatabaseType"         value="SqlServer" />
  
  <add key="DatabaseName"         value="ObjectMapper"/>
  <add key="ServerName"           value=".\sqlExpress"/>
  <add key="UserName"             value="TimePunch"/>
  <add key="Password"             value="tp"/>
  <add key="TrustedConnection"    value="false"/>

  <add key="DatabaseNameNW"       value="Northwind"/>
  <add key="ServerNameNW"         value=".\sqlExpress"/>
  <add key="UserNameNW"           value="TimePunch"/>
  <add key="PasswordNW"           value="tp"/>
  <add key="TrustedConnectionNW"  value="false"/>


</appSettings>
