<?xml version="1.0" encoding="utf-8" ?>

<appSettings>

  <add key="DatabaseType"       value="Postgres"/>

  <add key="DatabaseName"       value="objectmapper"/>
  <add key="ServerName"         value="orca"/>
  <add key="UserName"           value="om"/>
  <add key="Password"           value="om"/>

  <add key="DatabaseNameNW"     value="northwind"/>
  <add key="ServerNameNW"       value="orca"/>
  <add key="UserNameNW"         value="northwind"/>
  <add key="PasswordNW"         value="nw"/>

</appSettings>
