<?xml version='1.0' encoding='utf-8'?>

<appSettings>

  <add key="DatabaseType" value="Oracle" />

  <add key="UserName"     value="system"/>
  <add key="Password"     value="SzxU8D9gslXA"/>
  <add key="DbAlias"      value="XE"/>

  <add key="UserNameNW"   value="system"/>
  <add key="PasswordNW"   value="SzxU8D9gslXA"/>
  <add key="DbAliasNW"    value="XE"/>

</appSettings>
