<?xml version='1.0' encoding='utf-8'?>

<appSettings>

  <add key="DatabaseType"         value="SqlServer" />
  
  <add key="DatabaseName"         value="ObjectMapper"/>
  <add key="ServerName"           value="."/>
  <add key="UserName"             value="sa"/>
  <add key="Password"             value="admin"/>
  <add key="TrustedConnection"    value="false"/>

  <add key="DatabaseNameNW"       value="Northwind"/>
  <add key="ServerNameNW"         value="."/>
  <add key="UserNameNW"           value="sa"/>
  <add key="PasswordNW"           value="admin"/>
  <add key="TrustedConnectionNW"  value="false"/>

</appSettings>
