<?xml version="1.0" encoding="utf-8" ?>

<appSettings>

  <add key="DatabaseType"       value="Postgres"/>

  <add key="DatabaseName"       value="objectmapper"/>
  <add key="ServerName"         value="localhost"/>
  <add key="UserName"           value="postgres"/>
  <add key="Password"           value="admin"/>

  <add key="DatabaseNameNW"     value="northwind"/>
  <add key="ServerNameNW"       value="localhost"/>
  <add key="UserNameNW"         value="postgres"/>
  <add key="PasswordNW"         value="admin"/>

</appSettings>
